  <div class="form-container">
    <form [formGroup]="flightsForm" (ngSubmit)="onSearch(flightsForm.value)">
      <div *ngIf="isDifferent()" class="alert alert-danger mt-3">Origin and Destination cannot be the same.</div>
      <div class="form-group">
        <label for="originInput">Origin</label>
        <input type="text" class="form-control" id="originInput" placeholder="Enter origin" formControlName="origin" oninput="this.value = this.value.toUpperCase()" maxlength="3">
      </div>
      <div class="form-group">
        <label for="destinationInput">Destination</label>
        <input type="text" class="form-control" id="destinationInput" placeholder="Enter destination" formControlName="destination" oninput="this.value = this.value.toUpperCase()" maxlength="3">
      </div>
      <div class="form-group">
        <label for="currency-select">Select a currency:</label>
        <select class="form-control" id="currency-select" formControlName="currency">
          <option value="USD">US Dollar</option>
          <option value="EUR">Euro</option>
          <option value="COP">Colombian Peso</option>
        </select>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="isDifferent()">Search</button>
    </form>
  </div>
  
  
  <div *ngIf="!hasFlights() && isSearched && this.flights.length === 0" class="alert alert-danger mt-3">Flights not found</div>
  
  <div class="flight-list">
    <div *ngFor="let flight of flights" class="flight">
      <div class="flight-info">
        <p><strong>Origen:</strong> {{ flight.getOrigin() }}</p>
        <p><strong>Destino:</strong> {{ flight.getDestination() }}</p>
        <p><strong>Aerolínea:</strong> {{ flight.transport.getFlightCarrier() }}</p>
        <p><strong>Número de vuelo:</strong> {{ flight.transport.getFlightNumber() }}</p>
        <p><strong>Precio:</strong> {{ flight.getPrice() }} {{ flightsForm.get('currency')?.value }}</p>
      </div>
    </div>
  </div>

