<form [formGroup]="flightsForm" (ngSubmit)="onSearch(flightsForm.value)">
    <div class="form-group">
      <label for="originInput">Origin</label>
      <input type="text" class="form-control" id="originInput" placeholder="Enter origin">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Destination</label>
      <input type="text" class="form-control" id="destinationInput" placeholder="Enter destination">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>